h1 {
	text-align: center;
}

footer {
	float: right;
}

h1._text{
	height: 10%;
	width: 28%;
	float: left;
	box-sizing: border-box;
	background: #66b5ff;
	border-radius: 20px;
	overflow: auto;
}
div._text{
	height:80%;
	width: 28%;
	float: left;
	box-sizing: border-box;
	background: #66b5ff;

	overflow: auto;
}


h1._doing {

	margin-left: 8%;
	margin-right: 8%;

}

h2._user {
	padding-top: 5%;
	padding-left: 5%;
}

div._table {
	margin: 3%;
	
	background : #e6f3ff;
	border-radius: 50px;
	background: #e6f3ff;
	
}

div.board {
	display: inline-block;
	width: 80%; padding : 10%;
	padding: 10%;
	padding-top: 0%;
}



div.doing {
	margin-left: 8%;
	margin-right: 8%;

}

div.end {
	height: 80%;

}

div.new_box {
	display: inline-block;
	margin-bottom: 10%;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 15%;
	border: 1px solid white;
}

div.left {
	float: left;
	height: 100%;
	width: 65%;
	box-sizing: border-box;
	width: 65%;
}

div.right {
	float: right;
	width: 35%;
	box-sizing: border-box;
}

input.desc_in {
	height: 60%;
	width: 100%;
	background-color: #e6f3ff;
	box-sizing: border-box;
}

input.time_in {
	height: 40%;
	width: 100%;
	background-color: #e6f3ff;
	box-sizing: border-box;
}

input.new_submit {
	height: 50%;
	box-sizing: border-box;
	background-color: #e6f3ff;
	width: 100%;
}

input.clear {
	height: 50%;
	box-sizing: border-box;
	background-color: #e6f3ff;
	width: 100%
}

div.desc {
	height: 60%;
	vertical-align: middle;
	text-align: center;
	background-color: #99ccff;
	border: 1px solid white;
	box-sizing: border-box;
}

div.time {
	height: 40%;
	vertical-align: middle;
	text-align: center;
	background-color: #99ccff;
	border: 1px solid white;
	box-sizing: border-box;
}

input.submit {
	height: 50%;
	box-sizing: border-box;
	background-color: #99ccff;
	width: 100%;
}

input.cancel {
	height: 50%;
	box-sizing: border-box;
	background-color: #99ccff;
	width: 100%
}